.*.sw?
.idea
terragrunt.iml
vendor
.terraform
.vscode
*.tfstate
*.tfstate.backup
*.out
.terragrunt-cache
.bundle
.ruby-version
terragrunt
.DS_Store
*.terrahelpbkp
terraform/aws/demo/global-cloud-values.yaml

# Ignoring common charts
**/charts/common
# Ignoring test directories
**/kitchen
